{%extends 'base.html'%}

{%block main%}
<h1>Contacts Book</h1>

<div>
    <table class="table table-hover" style="margin: 30px;">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Nick Name</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Email</th>
            </tr>
        </thead>

        <tbody>
            {% set count = namespace(value=1) %}
            {%for contact in contacts%}
                <tr>
                    <th scope="row">{{ count.value }}</th>
                    <td>{{contact.first_name}}</td>
                    <td>{{contact.last_name}}</td>
                    <td>{{contact.nickname}}</td>
                    <td>{{contact.phone_number}}</td>
                    <td>{{contact.email}}</td>
                </tr>
                {% set count.value = count.value + 1 %}
            {%endfor%}    
        </tbody>
        
    </table>
</div>

{%endblock%}